!!! 5
%html
  %head
    %meta(charset='utf-8')
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %title Is the Library Open?
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic"
    = stylesheet_link_tag "style"
  %body
    #main(role="main")
      = yield
    = javascript_include_tag "http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyC_y6Kge3bqpBgHygX3kqSSxWJNv3KawoM"
    = javascript_include_tag "app"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31407557-1']);
      _gaq.push(['_setDomainName', 'isthelibraryopen.com']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
