!!! 5
%html
  %head
    %meta(charset='utf-8')
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %title Is the Library Open?
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic"
    = stylesheet_link_tag "style"
  %body
    #main(role="main")
      = yield
    = javascript_include_tag "http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyC_y6Kge3bqpBgHygX3kqSSxWJNv3KawoM"
    = javascript_include_tag "app"
